

.content-box {
  width: 100%;
  max-width: 50%;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .content-box {
    max-width: 100%;
  }
}

.top-center {
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.color-picker {
  z-index: 1000;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.whiteboard-page{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.homePageContainer{
  height: clamp(400px,30%,600px);
  width: clamp(400px,50%,600px);
  padding: 0px 30px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.homePageContainer *{
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.homePageContainer button{
  background-color: #ccc;
  border-radius:10px;
  padding: 10px;
  outline: none;
  border: none;
  width: 20rem;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}

.homePageContainer input{
  border-radius:10px;
  padding: 10px;
  outline: none;
  border: none;
  width: 20rem;
  border: 1px solid black;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}

.chat-toggle-button{
  position: fixed;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  right: 50px;
  bottom: 50px;
  border: 1px solid #b4b7c0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.chatBox{
  box-shadow: 0px 0px 10px 1px #b4b7c0 ;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 80vh;
  transition: 0.5s;
  width: clamp(300px,30%,350px);
  position: fixed;
  top: 70px;
  border-radius: 20px;
  transform: translateX(500px);
  right: 20px;
  z-index: 69;
  background-color: #f5f6fa;
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -ms-transform: translateX(500px);
  -o-transform: translateX(500px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding: 20px 0px 0px 0px;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.chatBox span{
  margin-right: 20px;
  font-size: 1rem;
}

.chatBox p{
  font-size: 0.95rem;
}

.chat-container{
  width: 100%;
  padding: 0px 10px;
}

.chatBox::-webkit-scrollbar{
  display: none;
}

.chatBox-inputbar{
  width: 100%;
  border: none;
  padding: 0px 15px;
  right: 10px;
  box-shadow: 0px 0px 10px 1px #b4b7c0;
  height: 40px;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: space-between;
  position: sticky;
  top: 100%;
  bottom: 0;
  display: flex;
}

.chatBox-inputbar textarea{
  width: calc(100% - 50px);
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
}
.chatBox-inputbar button{
  height: 40px;
  border-radius: 50%;
  border: none;
  aspect-ratio: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.chatBox-inputbar textarea::-webkit-scrollbar{
  display: none;
}